body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0e0;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Adjust this as needed */
  height: auto;
}


h1, h2, h3, h4, h5, h6 {
  color: #444; /* Dark gray */
  text-align: center;
}

.graphOuter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.dropdown-container img {
  margin-right: 10px; 
  width: 80px;  /* Change this to your desired width */
  height: 80px; /* Change this to your desired height */
  object-fit: cover;
}

.graph {
  /* Reset styles */
  font-family: initial;
  background-color: initial;
  color: initial;

  width: 90%; /* Adjust as needed */
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}


/* button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3; 
} */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: block;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu option:hover {
  background-color: #007BFF;
  color: white;
}

.pokemonSelectors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the dropdown container */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Style the dropdown button */
/* .dropdown button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* Style the dropdown menu */
/* .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* Style the dropdown menu items */
/* .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-menu {
  display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-menu a:hover {
  background-color: #007BFF;
  color: white;
} */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover button {
  background-color: #0056b3;
} */
